---
import PageLayout from '../../layouts/PageLayout.astro';
import { getCollection } from 'astro:content';

const articles = await getCollection('articles', ({ data }) => {
  return data.category === 'Guides';
});
---

<PageLayout title="Guides">
  <h1>Guides</h1>
  <ul>
    {articles.map((article) => (
      <li>
        <a href={`/guides/${article.id}`}>
          {article.data.title}
        </a>
        <p>{article.data.description}</p>
      </li>
    ))}
  </ul>
</PageLayout>
