---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Affiliate Disclaimer" description="Affiliate Disclaimer for SecureLiving.com.">
  <div class="container legal-page">
    <h1>Affiliate Disclaimer</h1>
    <p>SecureLiving.com may include links to products or services that we recommend. Some of these links are affiliate links, which means that if you click on a link and make a purchase, we may earn a commission at no additional cost to you.</p>

    <p>We only recommend products and services that we believe provide value to our visitors. However, please note that we are not responsible for the quality, accuracy, or performance of any third-party products or services.</p>

    <p>Your support through these purchases helps us maintain and grow SecureLiving.com, and we sincerely appreciate it.</p>
  </div>
</PageLayout>
