---
---

<div class="admonition">
  <svg class="admonition__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="48" height="48">
    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
  </svg>
  <div class="admonition__text"><slot /></div>
</div>

<style>
  .admonition {
    display: flex;
    align-items: flex-start;
    gap: var(--space-3);
    padding: var(--space-4);
    background: var(--primary-50);
    border-left: 4px solid var(--primary-600);
    border-radius: var(--radius-sm);
    margin: 1em 0;
  }

  .admonition__icon {
    flex-shrink: 0;
    color: var(--primary-600);
    margin-top: 2px;
  }

  .admonition__text {
    margin: 0;
    line-height: 1.6;
    padding: 0;
  }

  .admonition__text :global(*) {
    margin: 0;
  }
</style>
