---
/**
 * @component Footer
 * @description Site-wide footer with logo, navigation links, legal disclaimer, and copyright notice.
 * @usage Include once per page layout at the bottom of the page.
 * @example <Footer />
 * @props None
 */
import logoWhite from '../assets/logo-white-xl-300x51.png';
const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <a href="/" class="footer-logo">
        <img src={logoWhite.src} width={logoWhite.width} height={logoWhite.height} alt="Secure Living" />
      </a>

      <nav class="footer-nav" aria-label="Footer Navigation">
        <ul class="footer-menu">
          <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
          <li><a href="/affiliate-disclaimer">Affiliate Disclaimer</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
           <li><a href="/sitemap.xml">Sitemap</a></li>
          <li><a href="/do-not-sell-or-share-my-personal-information">Do Not Share or Sell My Personal Information</a></li>
        </ul>
      </nav>

      <hr class="footer-divider" />
      <div class="footer-disclaimer">
        SecureLiving.com is an independent online resource created to help users make informed decisions about home security systems and related safety services. The information on this site covers a wide range of products and providers. Certain details, including pricing, features, availability, and promotional offers, are supplied directly by our partners and may change at any time without notice. While we strive to ensure accuracy through careful research, the content provided on SecureLiving.com is for informational purposes only and does not constitute legal, financial, or professional advice.
        <br /><br />
        Our site free to use and may receive compensation from companies featured on the site. This compensation may affect the placement, ranking, and presentation of providers and their products. Listings on this site do not imply endorsement, and we do not include every provider available in the marketplace. Except as expressly stated in our Terms of Use, all representations and warranties regarding the information on this site are disclaimed. All information, including pricing and availability, is subject to change without notice.
      </div>

      <p class="footer-copyright">&copy; {currentYear} secureliving.com. All rights reserved.</p>
    </div>
  </div>
</footer>
